*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/* TAG SINGOLI */
img{
    height: 100%;
}

a{
    display: none;
}

ul{
    list-style: none;
}

/* FUNZIONALITÀ */
:root{
    --header-bgc: var(--grigio-0);
    --light-blue: var(--grigio-2);
    --transparent: var(--grigio-6);
    --light-violet: var(--grigio-3);
    --p-15: 15px;
    --p-col: 10px;
    --font-size-s:0.6rem;
    --font-size-m:0.8rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:3.5rem;
    --font-size-xxxl:5rem;
    --w-center: 800px;
    --card-space: 2px;
    --gap-card: 20px;
    --f-height: 70px;
    --h-height: 50px;
    --light-grey: #cdcdcd;
    --grigio-0: rgb(59,59,59);
    --grigio-1: rgb(129, 129, 129);
    --grigio-2: rgb(146, 146, 146);
    --grigio-3: rgb(180, 180, 180);
    --grigio-4: rgb(59,59,59);
    --grigio-5: rgb(202, 201, 201);
    --grigio-6: rgb(238, 235, 235);
}

.display-flex{
    display: flex;
}

.center{
    max-width: var(--w-center);
    margin: 0 auto;
}

.t-center{
    text-align: center;
}
/* HEADER */
header{
    background-color: var(--header-bgc);
    color: white;
    position: sticky;
    top: 0;
}

.nav{
    font-size: var(--font-size-m);
    padding: 10px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 30px;
}


/* MAIN */
.section{
    padding: 50px 20px;
}

.section:nth-of-type(even){
    background-color: var(--grigio-5);
}

.row{
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-card);
}

.card, .card.c-big{
    width:100%
}

.card{
    height: 300px;
    background-color: var(--grigio-1);
    border-radius: 30px;
}

.bgc-lightblue{
 background-color: var(--light-blue);
}

.bgc-transparent{
 background-color: var(--transparent);
}

.bgc-violet{
 background-color: var(--light-violet);
}

.bgc-white{
    background-color: white;
}



/* FOOTER */
footer .section{
    background-color: black;
    color: white;

}